<template name="sitesIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">{{_ "Home"}}</a></li>            
            <li class="active">{{_ "index"}}</li>
        </ol>
        
        <h2>Selamat datang di Xsis - User Management</h2>
        
        <div class="alert alert-success">Silakan login melalui menu yang disediakan dengan username: admin@meteoris.me, password: admin.
        </div>
        
        <p>Menu Posts adalah menu contoh yg dapat diubah akses managementnya. User yang diberi akses saja yang dapat mengakses menu tsb.
        </p>

        <p>Meteoris sendiri adalah framework realtime Node JS buatan saya sendiri untuk mempercepat proses development.
        </p>

        <p>Feel free to email me <a href="mailto:radiegtya@yahoo.co.id">radiegtya@yahoo.co.id</a>, or, if you find any bugs or issues, please report them at <a href="https://github.com/radiegtya/meteoris" target="_blank">https://github.com/radiegtya/meteoris.</a>
        </p>
    </div>
</template>
